*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body{
    background-color: #5B565F;
}
.sidebar{
    position: absolute;
    z-index: 3;
    height: 100%;
    width: 18em;
    background-color:#1E1E1E ;
    color: white;
    visibility: hidden;
}
.x-image{
    width: 1.8em;
    height: 1.6em;
    margin-right: 10px;
    cursor: pointer;
}
.x{
    display: flex;
    justify-content: end;
    margin-top: 1.3em;
}
.sidebar-option{
    height: 22em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 12px;
}
ul{
    list-style-type: none;
}
 li a{
    
    text-decoration: none;
    color: white;
    font-size: 23px;
}
.three-dot{
    width: 1.5em;
    margin-right: 7 px;
    cursor: pointer;
}
.account-info{
    margin-top: 23em;
}
.upper-account{
    align-items: center;
    margin-left: 48px;
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.lower-account{
    width: 90%;
    margin-left: 8px;
}
.account-email{
    font-size: small;
    margin-left: 40px;
    opacity: 0.5;
}
.head-filtre{
    display: flex;
    justify-content: space-between;
}

.x-text{
    font-weight: bold;
    cursor: pointer;
}
.add-to-cart{
width: 10em;
height: 2em;
margin: 10px auto;
border: none;
transition: ease 0.5s;
cursor: pointer;
}
.add-to-cart:hover{
    background-color: #6a7065;
}
.blur-background {
    filter: blur(5px);
}
.filtre-container{
    position: absolute;
    background-color: #6A7065;
    left: 27%;
    top: 15%;
    color: white;
    z-index: 2;
    width: 45vw;
    height: 35vw;
    padding: 20px;
    visibility: hidden;
}
.button-filtre{
    width: 8em;
}
form{
    display: flex;
    flex-direction: column;
    height: 87%;
    justify-content: space-between;
   
    
}
.filtre{
    margin-bottom: 0.5vw;
}
nav{
    display: flex;
    justify-content: space-between;
    height: 7vw;
    margin-bottom: 2px;
}
.menu{
    height: 2.2em;
    width: 2.1em;
    margin-top: 1em;
    margin-left: 2em;
    cursor: pointer;
}

.cart{
    margin-top: 1em;
    margin-right: 2em;
}
.main-products-container{
    margin-left: 5em;
}
.top-container{
    display: flex;
    justify-content: space-between;
    width: 88%;
}
.filtre{
    height: 38px;
    width: 38px;
    cursor: pointer;
}
.all-products{
    color: white;
    font-weight: 400;
    font-size: 34px;
    margin-bottom: 7vh;
    
}
.product-card{
    width: fit-content;
    margin-left: 10px;
    margin-bottom: 25px;
}
.product-name{
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: large;
}
.product-image{
    width: 180px;
    border-radius: 3px;
    cursor: pointer;
}

.price{
    text-align: end;
    font-size: 25px;
}
.container-products{
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5%
    
}

